service vendor.drm-clearkey-hal-1-4 /vendor/bin/hw/android.hardware.drm@1.4-service-lazy.clearkey
    interface android.hardware.drm@1.0::ICryptoFactory clearkey
    interface android.hardware.drm@1.0::IDrmFactory clearkey
    interface android.hardware.drm@1.1::ICryptoFactory clearkey
    interface android.hardware.drm@1.1::IDrmFactory clearkey
    interface android.hardware.drm@1.2::ICryptoFactory clearkey
    interface android.hardware.drm@1.2::IDrmFactory clearkey
    interface android.hardware.drm@1.3::ICryptoFactory clearkey
    interface android.hardware.drm@1.3::IDrmFactory clearkey
    interface android.hardware.drm@1.4::ICryptoFactory clearkey
    interface android.hardware.drm@1.4::IDrmFactory clearkey
    disabled
    oneshot
    class hal
    user media
    group media mediadrm
    ioprio rt 4
    task_profiles ProcessCapacityHigh
